.app {
  background: rgb(224, 210, 210); /*rgb(224, 210, 210) */
}

.app-header {
  background-color: #282c34; /* #282c34 */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.app-header h1 {
  color: rgb(224, 210, 210);
  margin-top: 0;
  padding: 0.3em 0;
  text-shadow: -1px -1px 1px rgb(122, 122, 122);
}

#quick-links-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.quick-links-div {
  border: 1px solid red;
}

.quick-link {
  background-color: green;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.quick-link:hover {
  background-color: #555;
}

.quick-link:active {
  background-color: black;
}

.quick-link:visited {
  background-color: #ccc;
}

.commands {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.command-group {
  background-color: rgb(236, 226, 226); /* rgb(236, 226, 226) */
  border: outset rgb(238, 238, 238); /* rgb(238, 238, 238) */
  border-width: 3px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); /* rgba(0, 0, 0, 0.4) */
  margin-bottom: 2em;
  padding: 1em;
  width: 95%;
}

.command-group h2 {
  color: #333;
  margin-top: 8px;
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.75),
    1px 1px 2px rgba(0, 0, 0, 0.5); /* rgba(255, 255, 255, 0.75) */
}

.command-code {
  background-color: rgb(238, 238, 238);
  border: inset rgb(243, 243, 243); /* rgb(238, 238, 238) */
  padding: 0 0.5em;
}

.command-descrip p {
  margin-bottom: 1.5em;
  margin-top: 0.25em;
}

@media (min-width: 960px) {
  .command-group {
    max-width: 75em;
    width: 75%;
  }
  .command {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 0.75em;
    text-align: left;
  }
  .command-descrip p {
    margin: 0 0 0 1em;
  }
}
