.app {
  background: rgb(224, 210, 210);
}

.app-header {
  background-color: #282c34;
  text-align: center;
}

.app-header h1 {
  color: rgb(224, 210, 210);
  padding: 0.3rem 0;
}

.commands {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.command-group {
  background-color: rgb(236, 226, 226);
  border: 1px solid #000;
  margin-bottom: 2em;
  padding: 1em;
  width: 95%;
}

@media (min-width: 800px) {
  .command-group {
    max-width: 55em;
    width: 75%;
  }
}
