#quick-link-navigation {
  padding-top: 1em;
  text-align: center;
}

#quick-link-navigation ul {
  padding: 0;
  width: 100%;
}

#quick-link-navigation li {
  display: inline;
}

.quick-link {
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* rgba(0, 0, 0, 0.4) */
  color: #000;
  display: inline-block;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 1em;
  margin-left: 1.25%;
  margin-right: 1.25%;
  padding-left: 1em;
  padding-right: 1em;
  outline: none;
  text-decoration: none;
}

.quick-link:link,
.quick-link:visited,
.quick-link:focus {
  background: rgb(128, 128, 128); /* rgb(128, 128, 128) */
}

.quick-link:hover {
  border: 2px solid #fff;
  color: #fff;
}

.quick-link:active {
  background: #000;
}
