.scroll-top-button-div {
  bottom: 90px;
  height: 50px;
  position: fixed;
  right: 15px;
  width: 50px;
  z-index: 1000;
}

.scroll-top-button {
  background: #000;
  border: 1px solid #fff;
  border-radius: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 50px;
  outline: none;
  width: 50px;
  z-index: 1000;
}

.scroll-top-button .i-arrow-up svg {
  bottom: 18px;
  display: inline-block;
  fill: #fff;
  height: 14px;
  position: absolute;
  right: 18px;
  stroke: #fff;
  width: 14px;
}
